package templates

templ MainPage() {
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8"/>
        <title>Skald</title>
        <meta name="description" content="Local network file transfer"/>
        <link rel="stylesheet" type="text/css" href="/static/theme.css"/>

      </head>
      <body>
      <h1>test</h1>
      </body>
    </html>
}